.wrapper{
    
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* pointer-events: none; */
    z-index: 900
}
.love-msg{
    transform: scale(0);
    transition: 1s;
}

.content{
    display: flex;
    flex-direction: column;
   
    padding: 10px;
    border-radius: 5px;
   
    
    
    
}

/* .font-bg-color{

   position: absolute;
   bottom: 0;
   background-color: red;
   z-index: 1000;
   height: 100px;
   width: 100px;

   
} */

.content .Heading{
    opacity: 1;
}


.front-bg{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    filter: grayscale(0%);
}

.front-bg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
}




.Heading{
    font-size: 50px;
}
.content p{
    text-align: center;
    font-size: 20px;
 }

 .buttons-one{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
 }

 .btn{
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 5px;
    /* pointer-events: auto; */
 }

.wrapperHide{
    display: flex;
    justify-content: end;
    align-items: start;
    
}



.outer-box{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-x: hidden; 
    
    
    
}


.slider{
    display: flex;
    gap: 10px;
    position: absolute;
    top: calc(50% - 150px);
    /* left: calc(55% + 125px);   */
    left: 62%;
    overflow: hidden;
/*     z-index: -1; */
}



.slider img{
    width: 250px;
    height: 300px;
    object-fit: fill;
    transition: 1s;
}

.buttons{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
}

.next,.prev{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.back-image{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    
}

/* .back-image div{
    

    
 

    

} */




.cardo{
    position: absolute;
    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    
    border: solid 1px black;
    

    background-repeat: no-repeat;
    background-position: center center;

 transform: scale(0);
}

.cardo img{
    height: 100vh;
    width: 100%;
    object-fit: fill;
}

.active{
    transition: 1s;
    transform: scale(1);
}

.back-image1{
    transition: 1s;
    transform: scale(1);
}


.love-msg{

    opacity: 0.5;
    max-width: 40%;
    height: 250px;
    
    position: absolute;
    left: 2%;
    top: calc(50% - 125px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
    
    
}

.love-msg1{
    background-color: black;
    opacity: 0.993;

    padding: 5%;
    border-radius: 5px;
}

.back-image11{
    background-color: #FFE8D6;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    
    
}

.back-image11 div{
    max-width: 70%;
    text-align: center;
    
}



.msg1{
    transform: scale(1);
}

.disable{
    transform: scale(0);
}


























 
 






 
